.sidebarMain {
  width: 250px;
  background: #8728c0;
    height: 100vh;
    /* position: fixed;
    top: 0;
    left: 0; */

    /* position: fixed; */
  
}
.sidebarMain ul{
  list-style-type: none;
}

.sidebarMain ul li a{
  text-decoration: none;
  color: #fff;
    font-weight: 700;
    font-size: 21px;
}
.mainHeader{
  height: 3rem;
  background: rgb(39, 10, 74);
  color: #fff;
}  



@media (max-width: 768px) {
  /* .sidebarMain {
    display: none;
  } */
  .App{
    width:100%!important
  }
}





.App {
  width: 40%;
  box-shadow: 0px 0px 11px 3px #a89e9e;
  border: 1px solid #afa9a9;
  border-radius: 20px;
  padding: 30px;
  margin: 40px;
 }
 
 
 form,.textInput{
   margin-top:10px
 }
 
 .textInput label,.checkboxDiv p,.radioBtnDiv p,.dropdownDiv label{
   font-weight: 500;
 }
 .radioBtnDiv label ,.checkboxDiv label{
   margin-left: 5px;
 }
 /* .radioBtnPoint div label, .checkBtnPoint div label,.radioBtnPoint div input, .checkBtnPoint div input{
   cursor: pointer;
 } */